@import "variables";
.icon-footer {
  font-size: 24px;
  color: $icon-black;
  &:hover {
    color: $text-black;
  }
}
.separator {
  border-top: 0.5px solid $dark-grey;
  margin-top: 7px;
}
.img-footer-move{
  width: 51px;
  height: 120px;
  top: -1px;
  right: 45px;
  &:hover{
    transform: rotate(-0.02turn);
  }
}
/*Utilities*/


.bg-footer-primary {
  background-color: $grey;
}
.text-footer-size- {
  &icon {
    font-size: 24px;
  }
  &p{
    font-size: 14px;
  }
}
.text-footer-color- {
  &icon {
    color: $icon-black;
  }
  &link {
    color: $link-black;
  }
  &p{
    color: $text-black;
  }
}

/*Queries*/

@media only screen and (min-width: 1025px){
  .row-lg-wrapper{
    width: 60%;
    margin: 0 auto;
  }
}