@import url('//fonts.googleapis.com/css?family=Work+Sans:400,700');
@import url('//fonts.googleapis.com/css?family=Droid+Sans:700');

* {
    font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
    line-height: 1.2;
}

.w-70 {
    width: 70%;

    a {
        right: 25px;
    }
}

.devto-icon {
    border-radius: 10%;
    width: 50px;
    height: 40px;
}

.nav-profile-pic {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.bor {
    border-bottom: 2px solid lightgray;
}

.bor2 {
    border-bottom: 2px solid lightgray;

    &:last-of-type {
        margin-top: 6.5vh;
    }
}

.fnt {
    font-family: $link-font;

    .fc-1 {
        font-size: 1.2rem;
    }
}

.hvr {
    &:hover {
        cursor: pointer;
        transform: scale(1.3);
        opacity: 0.80;
    }
}

.nav-i {
    background-color: rgba(218, 218, 218, 0.2);
    border: 1px solid $heart-redF;
    border-radius: 5px;
    display: flex;
    margin-left: 10px;
    outline: none;
    width: 60%;
    height: 2.5rem;

    &::placeholder {
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        padding-left: 5px;
    }

    &:focus {
        background-color: white;
        border-color: blue;
        box-shadow: 1px 1px blue;
        outline: none;
    }
}
.right-wrapper {
    display: flex;
    align-items: center;
    img {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        
        &:hover {
          border: solid 6px rgb(235, 235, 235);
          border-radius: 50%;
          cursor: pointer;
          transform: scale(1.8);
        }
        &:last-child {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          &:hover {
            box-shadow: 1px 1px 1px 1px gray;
            cursor: pointer;
            border: unset;
            transform: unset;
          }
          &:checked {
            box-shadow: 2px 2px 2px 2px gray;
          }
        }
      }
    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue-bookmark;
        font-family: $title-font;
        width: 129px;
        height: 2.5rem;
        border-radius: 5px;
        color: #fff;

        &:hover {
            background-color: #323ebe;
            cursor: pointer;
        }
    }
}






    @media only screen and (min-width: 576) {
        .nav-profile-pic {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }