@import url('//fonts.googleapis.com/css?family=Work+Sans:400,700');
@import url('//fonts.googleapis.com/css?family=Droid+Sans:700');

* {
    font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
    line-height: 1.2;
}

.w-70{
    width:70%;
    a{
        right:25px;
    }
}
.devto-icon{
    border-radius: 10%;
    width:50px;
    height: 40px;
}

.nav-profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    right: 10px;
}
.bor{
    margin-top:6.5vh;
    border-bottom: 2px solid lightgray;
}
.fnt{
    font-family: $link-font;
}