@import "variables";
.fixed-pos {
  background-color: $bg-post-primary;
  bottom: 0;
  border-top: 1px solid $bg-post-primary;
  left: 0;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.p-badge {
  padding-top: 5px;
  padding-bottom: 5px;
}
.aws {
  background-color: #212b3a;
  color: #faaf34 !important;
}
.docker {
  background-color: #73c7e6;
  color: #134871 !important;
}
.tutorial {
  background-color: #feffa5;
  color: #b30047 !important;
}
.vue {
  background-color: #41b883;
  color: #35495e !important;
}
.btn-outline-suscribe {
  border: 1px solid $dark-grey;
  background-color: none;
  color: $suscribe-color;
  padding: 6px 16px;
  &:hover {
    cursor: pointer;
  }
}
.btn-follow {
  background-color: $blue-bookmark;
  color: white;
  padding: 8px 16px;
  &:hover {
    color: white;
    background-color: $blue;
  }
}

.img-profile {
  height: 32px;
  width: 32px;
}
.img-profile-2 {
  height: 48px;
  width: 48px;
}
.author-absolute {
  padding: 0px 16px;
  position: absolute;
  top: 15px;
  left: 0;
}
.hover-conduct {
  &:hover {
    color: $suscribe-color !important;
  }
}
span {
  color: $icon-black;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}
h1 {
  color: $content-text;
  font-size: 30px;
}
h2 {
  color: $content-text;
  font-size: 20px;
}
h4 {
  color: $content-text;
  font-size: 18px;
}
p {
  font-size: 18px;
  color: $content-text;
  margin-bottom: 16px;
}
ul {
  padding: 0 20px;
  li {
    font-size: 18px;
  }
}
a {
  color: $blue-bookmark;
  overflow-wrap: break-word;
  transition: 1ms;
  &:hover {
    color: $blue;
    cursor: pointer;
    text-decoration: none;
  }
}
textarea {
  border: 1px solid $dark-grey;
  padding: 5px;
}
/*Utilities*/
.text-color- {
  &title {
    color: $content-text;
  }
  &btn {
    color: $suscribe-color;
  }
  &icon {
    color: $icon-black;
  }
  &card-black {
    color: $text-black;
  }
}
.text-size- {
  &title {
    font-size: 30px;
  }
  &icon {
    font-size: 14px;
  }
  &paragraph {
    font-size: 16px;
  }
  &span {
    font-size: 12px;
  }
}
.w-10 {
  width: 10%;
}
.w-87 {
  width: 87%;
}
.pt-6 {
  padding-top: 2rem;
}
.bg-container {
  background-color: $bg-post-primary;
}
.bg-card {
  background-color: $bg-post-secondary;
}
.bg-post-header {
  background-color: black;
}

.border-bottom-post {
  border-bottom: 1px solid $bg-post-primary;
}
/*Queries*/
@media only screen and (min-width: 768px) {
  .fixed-pos {
    background-color: transparent;
    border-top: none;
    top: 0;
    width: 20%;
    z-index: 0;
  }
  footer {
    z-index: 1;
  }
  h1 {
    color: $content-text;
    font-size: 36px;
  }
  .w-87 {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .fixed-pos {
    left: 70px;
  }
  .icon- {
    &nav {
      height: 24px;
      width: 24px;
    }
  }
  h1 {
    color: $content-text;
    font-size: 48px;
  }
  .icon-nav {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    transition: 2ms;
    &:hover {
      cursor: pointer;
      background-color: #ad9d9d;
      opacity: 0.3;
    }
  }
  .heart {
    &:hover {
      background-color: #e26b6c;
    }
  }
  .pony {
    &:hover {
      background-color: #26d9ca;
    }
  }
  .bookmark {
    &:hover{
      background-color: #8e96e7;
    }
  }
}

@media only screen and (min-width: 1600px){
  .fixed-pos {
    left: 250px;
  }
}