
$grayText: #64707d;

body{
    background-color: #eef0f1;

}

.link-home{
    &:hover{
        cursor: pointer;
    }
}

.cardPostInput{
    background-color: white;
    border: solid 1px rgba(#000, .2);
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 3rem 0;
}

.formPost input[name="coverUrl"]
{   width:fit-content;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border: solid 3px rgba(#000, .2);
    padding: .5rem ;
    margin: 2rem 4rem;
}
.formPost input[name="coverUrl"]:focus{
    background-color: #eef0f1;
    border: solid 3px rgba(#000, .4);
    
}

.formPost input[name="coverUrl"]::placeholder {
       color: $grayText;
}
.formPost input[name="coverUrl"]:focus::placeholder{
    color: black;
}


.formPost input[name="postTitle"]
{   
    border: none;
    font-size: 3.7rem;
    font-weight: 800;
    margin: 2rem 4rem;
}
:focus{
    outline: none;
}
.formPost input[name="postTitle"]::placeholder {
    color: $grayText;
}

.formPost input[name="postTags"]
{   
    border: none;
    font-size: 1.3rem;
    font-weight: 450;
    font-family: 'Roboto Mono', monospace;
    margin: 2rem 4rem;
}
:focus{
    outline: none;
}

.formPost input[name="imagesUrl"]
{   
    background-image: url(/Images/post/Timgsvg.svg);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position-x: 4rem;
    background-position-y: 1rem;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: #f9fafa;
    padding: 1rem 4rem;
}
:focus{
    outline: none;
}
.formPost input[name="imagesUrl"]::placeholder {
    color: #54514b;
}

.formPost input[name="content"]
{   
    border: none;
    font-size: 1.3rem;
    font-weight: 450;
    font-family: 'Roboto Mono', monospace;
    margin: 2rem 4rem;
}
:focus{
    outline: none;
}

#settingsBtn {
    background-image: url(/Images/post/Tassetsvg.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    border: none;
}

.postBody{
    width: 100%;
}

#imgDivTitle{
    width: 100%;
    height: 326px;
    margin-bottom: 4rem;
    border:0;
}

#imgTitle{   
    width:100%;
    height:100%;
    object-fit:scale-down;
    outline: none;
}

#previewTitle{
    width: auto;
    word-wrap: break-word;
    font-size: 3.5rem;
    font-weight: 900;
    margin: 2rem 5rem;
}

#hashtPost {
        margin-left: 5rem;
        margin-bottom: 3rem;
    li {    
    list-style: none;
    margin-right: 2rem;
    opacity: 70%;
    }
}

#imgDiv{
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 4rem;
    overflow: hidden;
}

#imgContentPreview{
    width:100%;
    height:100%;
    object-fit:scale-down;
}

#contentPreview{
    width: 80%;
    height: auto;
    margin: 3rem auto;
    word-wrap: break-word;
}