//Colors
$blue: #323ebe; //Logo
$light-blue: #3b4fe2; //Letra
$blue-under: #3b49df; //Subrayado header, nombre autor y hovers
$grey: #d2d6db; //Fondo
$dark-grey: #b5bdc4; //Botón Save

//Icons
$blue-bookmark: #3b49df; //Delineado Bookmark
$blue-bookmarkF: #dcdfef; // Fondo Bookmark
$unicorn-blue: #26d9ca; //Delineado Unicornio
$unicorn-blueF: #daeeed; //Fondo Unicornio
$heart-red: #dc1818; //Delineado Corazón
$heart-redF: #ecdada; //Fondo corazón con hover

//Tags colors
$yellow_h: #f7df1e; //#javascript
$blue_h: #2965f1; //#CSS
$orange_h: #f53900; //#html

// Fonts
$link-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$title-font: OpenDyslexic, sans-serif;
$font-t: "Work Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;

// New colors
$link-black: #202428; // link footer
$text-black: #4d5760;
$icon-black: #64707d; // icon footer
$suscribe-color: #363d44;
$content-text: #08090a;
$light-purple: #6b3ebe; //Sombra Letra
$bg-post-primary: #eef0f1;
$bg-post-secondary: #f9fafa;