<form class="d-flex flex-column  formPost">
    <input id="imgPost" class="rounded-lg shadow-sm" type="text" name="coverUrl" placeholder="Add a cover image">
    <input id="titleText" type="text"  name="postTitle" placeholder="New post title here..." value="">
    <input id="tagsPost" type="text" name="postTags" placeholder="Add up to 4 tags...">
    <input id="imgContent" type="text" name="imagesUrl" placeholder="       Upload image">
    <input id="content"  type="text" name="content" placeholder="Write your post content here...">
  </form>

  <script src="/js/editpost.js"></script>