    <div class="row">
      <!-- COLUMNA 1 -->
      <div class="col-md-3 col-lg-3 d-md-flex d-none p-0 mt-3 pl-2">
        <!-- Left Aside -->
        <aside class="left-aside">
          <ul>
            <li>
              <img src="Images/home2.svg" alt="home" /><a href="#">Home</a>
            </li>
            <li>
              <img src="Images/readinglist.svg" alt="" /><a href="post1.html">Reading List</a>
            </li>
            <li>
              <img src="Images/Listings.svg" alt="" /><a href="#">Listings</a>
            </li>
            <li>
              <img src="Images/Podcast.svg" alt="" /><a href="#">Podcasts</a>
            </li>
            <li>
              <img src="Images/Videos.svg" alt="" /><a href="#">Videos</a>
            </li>
            <li><img src="Images/Tags.svg" alt="" /><a href="#">Tags</a></li>
            <li><a class="ml-4 text-secondary" href="#">More...</a></li>
          </ul>
          <div class="dashboard-aside d-flex w-100 justify-content-between">
            <p>My tags</p>
            <img class="mb-3" src="Images/tagsDashboard.svg" alt="dashboard-aside" />
          </div>
          <ul class="mb-5">
            <li><a href="#">#javascript</a></li>
            <li><a href="#">#webdev</a></li>
            <li><a href="#">#beginners</a></li>
            <li><a href="#">#programming</a></li>
          </ul>
          <a href="views/store.html">
            <div class="store">
              <img class="w-100 rounded"
                src="https://res.cloudinary.com/practicaldev/image/fetch/s--pVCMYZWJ--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_350/https://scontent-lga3-1.cdninstagram.com/vp/7c898e2c9e9fa71f72dd5d422d444549/5DFE1BFA/t51.2885-15/fr/e15/s1080x1080/57390242_386431405416711_440644832181536446_n.jpg%3F_nc_ht%3Dscontent-lga3-1.cdninstagram.com"
                alt="shop-img" />
              <p class="text-center">Got DEV Stickers Yet?</p>
            </div>
          </a>
        </aside>
      </div>
      <!-- COLUMNA 2 -->
      <div class="col-12 col-md-9 col-lg-6 p-0 px-md-2">
        <!-- header content -->
        <header class="d-flex justify-content-between align-items-center mt-1 px-2">
          <h3 class="pt-2">Posts</h3>
          <!-- Select Box -->
          <div class="select-box d-md-none">
            <select name="select" class="select">
              <option disable selected>Feed</option>
              <option>Week</option>
              <option>Month</option>
              <option>Year</option>
              <option>Infinity</option>
              <option>Latest</option>
            </select>
          </div>
          <!-- Navs header -->
          <ul class="nav d-none d-md-flex">
            <li class="nav-item rounded-top">
              <a id="feed" class="nav-link my-0 p-0 mx-2 mx-lg-1 active" href="#">Feed</a>
            </li>
            <li class="nav-item rounded-top">
              <a id="week" data-view-target="week" class="nav-link my-0 p-0 mx-2 mx-lg-1 text-black an">Week</a>
            </li>
            <li class="nav-item rounded-top">
              <a id="month" data-view-target="month"  class="nav-link my-0 p-0 mx-2 mx-lg-1 text-black an" href="#">Month</a>
            </li>
            <li class="nav-item rounded-top">
              <a id="year"  data-view-target="year" class="nav-link my-0 p-0 mx-2 mx-lg-1 text-black an" href="#">Year</a>
            </li>
            <li class="nav-item rounded-top">
              <a id="infinity" data-view-target="infinity"  class="nav-link my-0 p-0 mx-2 mx-lg-1 text-black an" href="#">Infinity</a>
            </li>
            <li class="nav-item rounded-top">
              <a id="lastest" data-view-target="lastest"   class="nav-link my-0 p-0 mx-2 mx-lg-1 text-black an" href="#">Latest</a>
            </li>
          </ul>
        </header>



        <!-- content -->
        <div id="posts-container">
          
        </div>
      </div>
      <!-- COLUMNA 3 -->
      <div class="col-lg-3 d-lg-block d-none p-0">
        <aside class="right-aside">
          <!-- primer card -->
          <div class="aside-card  bg-secundary my-2 border rounded shadow-sm">
            <img class="w-100" id="aside-image" alt="card-img" />

            <header class="py-3 border-bottom">
              <a href="#">
                <h3 id="liked-post"></h3>
              </a>
            </header>

            <div id="aside-container">

            </div>

          </div>
        </aside>
      </div>
    </div>