<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/stylesnav.css">
    <title>NAVBAR</title>
</head>
<body>
    <header>
        <nav>
            <div class="left-wrapper">
                <div class="hamburguer-menu">
                    <label for="check" class="fas fa-bars"></label>
                    <input id="check" type="checkbox">
                    <div class="menu">
                        <div class="menu-content">
                            <div class="menu-header">
                                <h4>DEV Community</h4>
                                <!--<a href="./post.html" class="fas fa-times"></a>-->
                                <label for="check" class="fas fa-times"></label>
                            </div>
                            <div class="icon-nav-wrapper">
                                <img src="../Images/img-nav/home.svg" alt="home">
                                <p>Home</p>
                            </div>
                            <div class="icon-nav-wrapper">
                                <img src="../Images/img-nav/reading.svg" alt="Home">
                                <p>Reading List</p>
                            </div>
                            <div class="icon-nav-wrapper">
                                <img src="../Images/img-nav/papyrus.svg" alt="Home">
                                <p>Listing</p>
                            </div>
                            <div class="icon-nav-wrapper">
                                <img src="../Images/img-nav/microphone.svg" alt="Home">
                                <p>Podcasts</p>
                            </div>
                            <div class="icon-nav-wrapper">
                                <img src="../Images/img-nav/camera.svg" alt="Home">
                                <p>Videos</p>
                            </div>
                            <div class="icon-nav-wrapper">
                                <img src="../Images/img-nav/tag.svg" alt="Home">
                                <p>Tags</p>
                            </div>
                            <div class="icon-nav-wrapper">
                                <p class="more">More...</p>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="../index.html"><img id="logo" src="../Images/img-nav/new-logo.svg" alt="logo-png"></a>
                <input type="text" class="nav-input" placeholder="Search..">
            </div>
            <div class="right-wrapper">
                <div class="nav-btn">
                    Write a post
                </div>
                <img src="../Images/img-nav/lupa.svg" alt="lupa">
                <img src="../Images/img-nav/chat.svg" alt="chat-img">
                <img src="../Images/img-nav/notif.svg" alt="not-img">
                <img class="nav-profile-pic"
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s--nxs3OSdn--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/590732/7f070b38-4436-495a-8aaf-2c0312ee4b47.jpeg"
                    alt="profile-pic">
            </div>
        </nav>
    </header>
</body>
</html>