<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/src/assets/font-awesome/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

  <link rel="stylesheet" href="/assets/styles/styles.css">

  <title>Write a new post</title>
</head>

<body>
  <!-- -- -- -- --Navbar-- -- -- -- -- -->
  <nav class="navbar d-flex navbar-light navbarPost  ">
    <div id="logoDev">
      <a href="/index.html"><img class="link-home mr-3 d-none d-lg-inline-block" src="/Images/post/Tdev.svg" alt="home"></a>
      <h2 class="navbar-brand d-none d-md-inline-block ">Write a new post</h2>
    </div>
    <div>
      <ul class="navbar-nav  d-flex flex-row ">
        <li class="nav-item ">
          <a class="nav-link" id="homePostEdit" href="#">Edit <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="homePostPreview" href="#">Preview</a>
        </li>
      </ul>
    </div>
    <div class="m-0">
      <button type="button" class="btn " data-toggle="modal" data-target="#exampleModal">
        <img src="/Images/post/Tx.svg" alt="">
      </button>
    </div>
  </nav>
  <!-- -- -- -- -- Container -- -- -- -- -- -->
  <div class="container-fluid containerPostWrite p-0 container-lg  ">
    <div class="row ">
      <div class="col-12 p-0 col-md-8 cardPostInput m-0 rounded-lg">

      </div>
      <!-- aside -->
      <div class="d-none d-lg-inline-block col-md-4 asideContent">

      </div>
    </div>
    <!-- Button trigger modal -->

    <!-- footer -->
    <div clas="row">
      <div class="col-12 footerPost">
        <button class="btn btn-primary" type="button" id="publish" class="btn btn-outline-dark ">Publish</button>
        <button class="btn btn-secondary" type="button" id="saveDraft" class="btn btn-outline-dark">Save  <a href="" class="d-none">draft</a></button>
        <button id="settingsBtn" class="btn" type="button"></button>
        <a href="">Revert</a><a href="" class="d-none d-md-inline-block"> new changes</a>
      </div>
    </div>

  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You have unsaved changes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          
          <span aria-hidden="true"> <img width="35px" src="/Images/post/Tcancelar.svg" alt=""> </span>
        </button>
      </div>
      <div class="modal-body">
        You've made changes to your post. Do you want to navigate to leave this page?
      </div>
      <div class="modal-footer">
        <button id="close-new" type="button" class="btn btn-secondary" >Yes, leave the page</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, keep editing</button>
      </div> 
    </div>
  </div>
</div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <script src="/js/createpost.js"></script>

</body>

</html>