
      <div class="row pt-md-2 pr-md-2 justify-content-lg-around">
        <!-- CONTENT -->
        <div 
        class="bg-card col-12 shadow-sm mb-3 px-0 order-md-2 col-md-11 offset-md-1 col-lg-8"
        >
          <img id="img-header" alt="img-header" class="w-100 rounded-top" />
          <div class="d-flex flex-column px-3 py-2 px-md-3 p-lg-5">
            <h1 id="post-title" class="font-weight-bold mb-3">
             
            </h1>
            <div  class="d-flex flex-row w-100 mb-3">
              <span id="post-tags" class="badge aws mr-2 p-badge font-weight-normal text-size-icon"
                ></span
              >
            </div>
            <div class="d-flex flex-row mb-3">
              <img
                alt="profile-pic-kevin"
                class="img-profile rounded-circle mr-2"
              />
              <h5  class="author-name"></h5>

              <span id="post-date" class="ml-3">mar 6</span>
              
            </div>
           <p id="post-content"></p>
            <!--Discussion content-->
            <div class="d-flex flex-column ">
              <div class="d-flex flex-row justify-content-between mb-4">
                <h2 id="count-replies" class="font-weight-bold m-0 my-auto"></h2>
                <button class="btn-outline-suscribe rounded">Suscribe</button>
              </div>
              <div class="w-100 d-flex flex-row justify-content-between mb-3">
                <div class="w-10">
                  <img
                    alt="profile-pic"
                    class="img-profile rounded-circle"
                  />
                </div>
                <textarea
                  id="reply"
                  name="content"
                  placeholder="Add to the discussion"
                  rows="2"
                  class="w-87 rounded"
                ></textarea>
                <button style="height: 45px;" id="add-comment" class="btn  btn-follow ml-2">Submit</button>
              </div>
              <div id="replies-container">
            </div>
              <div class="d-flex flex-row justify-content-center">
                <a href="#" class="text-color-icon text-size-icon hover-conduct"
                  >Code of conduct</a
                >
                <span class="text-color-icon text-size-icon mx-2">•</span>
                <a href="#" class="text-color-icon text-size-icon hover-conduct"
                  >Report abuse</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- ASIDE -->
        <aside 
          class="col-12 mb-3 px-0 order-md-3 col-md-11 offset-md-1 offset-lg-0 col-lg-3 px-lg-2"
            >
          <div class="card shadow-sm rounded mb-3">
            <div
              class="bg-post-header w-100 pt-6 rounded-top position-relative"
            ></div>
            <div class="position-absolute author-absolute d-flex pb-3">
              <img

                alt="profile-pic-kevin"
                class="img-profile-2 rounded-circle mr-2"
              />
              <h4 class="font-weight-bold d-flex align-items-end author-name">
              </h4>
            </div>
            <div class="card-body mt-4">
              <p class="text-size-paragraph text-color-card-black">
                I am here to learn. Technology evolves every day and my passion
                is to learn and create applications that can change and make
                human day to day activity simple and organized.
              </p>
              <button class="btn btn-follow w-100 my-2 rounded">Follow</button>
              <div class="d-flex flex-column mt-3">
                <span class="font-weight-bold text-uppercase text-size-span">Work</span>
                <p class="text-size-paragraph">Software Developer</p>
              </div>
              <div class="d-flex flex-column">
                <span class="font-weight-bold text-uppercase text-size-span">Location</span>
                <p class="text-size-paragraph">Ciudad de México</p>
              </div class="font-weight-bold text-uppercase">
              <div class="d-flex flex-column">
                <span class="font-weight-bold text-uppercase text-size-span">Joined</span>
                <p class="text-size-paragraph">Jan 13, 2020</p>
              </div>
            </div>
          </div>
          <!--More from kevin odongo-->
          <div class="w-100 bg-card px-3 py-1 shadow-sm">
            <h4 class="font-weight-bold text-color-title my-2">
              More from <a class="author-name" href="#"></a>
            </h4>
            <div class="py-2 border-bottom-post px-0">
              <a href="#" class="text-color-title"
                >Integrate Okta to Node, Express, and VUe</a
              >
              <div>
                <span class="mr-2">#webdev</span>
                <span class="mr-2">#node</span>
                <span class="mr-2">#vue</span>
                <span class="mr-2">#tutorial</span>
              </div>
            </div>
            <div class="py-2 border-bottom-post px-0">
              <a href="#" class="text-color-title">AWS ECR or Docker Hub</a>
              <div>
                <span class="mr-2">#docker</span>
                <span class="mr-2">#webdev</span>
                <span class="mr-2">#tutorial</span>
                <span class="mr-2">#node</span>
              </div>
            </div>
            <div class="pt-2 px-0">
              <a href="#" class="text-color-title">Docker, Node, and Vue</a>
              <div>
                <span class="mr-2">#webdev</span>
                <span class="mr-2">#docker</span>
                <span class="mr-2">#vue</span>
                <span class="mr-2">#tutorial</span>
              </div>
            </div>
          </div>
        </aside>
        <!-- POST-NAV-FEATURES -->
        <div 
        class="col-12 d-flex justify-content-around py-3 fixed-pos 
        order-md-1 flex-md-column col-md-1 justify-content-md-start">
          <div class="d-md-flex flex-md-column mx-md-auto my-md-3">
            <img id="like" src="Images/heart.svg" alt="heart-img" class="icon-nav heart" />
            <span id="likes-count" class="d-md-flex justify-content-md-center"></span>
          </div>
          <div class="d-md-flex flex-md-column mx-md-auto my-md-3 ">
            <img src="Images/middle-icon.svg" alt="middle-icon-img" class="icon-nav pony" />
            <span class="d-md-flex justify-content-md-center">0</span>
          </div>
          <div class="d-md-flex flex-md-column mx-md-auto my-md-3">
            <img src="Images/bookmark.svg" alt="bookmark-img" class="icon-nav bookmark" />
            <span class="d-md-flex justify-content-md-center">2</span>
          </div>
          <div class="d-md-flex flex-md-column mx-md-auto my-md-3">
            <img src="Images/points-footer.svg" alt="points-img" class="icon-nav" />
          </div>


          <script src="/src/js/Post.js"></script>