<link rel="stylesheet" href="/assets/styles/styles.css">


<div class="flex-column postBody">
    <div id="imgDivTitle" class=" d-flex justify-content-center align-items-center">
        <img  id="imgTitle" src="" alt="">
    </div>

    <p class="" id="previewTitle"></p>

    <ul class="d-flex" id="hashtPost"></ul>

    <div id="imgDiv" class="d-flex rounded-lg justify-content-center align-items-center">
        <img id="imgContentPreview" src="" alt="">
    </div>

    <p id="contentPreview"></p>
</div>
<script src="/js/preview.js"></script>