<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="icon" href="../Images/images-tda/logo.svg">
    <title>DEV clothing and gifts - DEV Shop</title>
</head>

<body>
    <nav class="navbar notif text-white justify-content-center text-center">
        <span class="navbar-text font-weight-bold ">
            Due to COVID-19 the DEV Shop is experiencing slight delays in shipping.
        </span>
    </nav>
    <!--Contenedor del head-->
    <div class="container">
        <div class="row pt-2 justify-content-around justify-content-sm-between pt-sm-4 pb-sm-2">
            <div class="hvr col-2 order-sm-2 col-sm-1">
                <img class=" img1 float-left " src="../Images/images-tda/logo.svg" alt="Div-Logo">
            </div>
            <div class="hvr col-1 offset-7 pt-3 order-sm-1 offset-sm-0">
                <img class="img2 float-right" src="../Images/images-tda/search.svg" alt="Search">
            </div>
            <div class="hvr col-1 pt-3 order-sm-3">
                <img class="img2 float-right" src="../Images/images-tda/shopping.svg" alt="Shopping">
            </div>
        </div>
    </div>
    <div class="bor pt-3"></div>
    <div class="pt-4 text-center">
        <h4 class="f-c font-weight-bold text-uppercase">She Coded</h4>
    </div>
    <!--Primer Contenedor-->
    <div class="container items">
        <div class="row px-2">
            <div class="hvr col-6 px-4 mt-4 col-sm-4">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/StickerCollage2020-ad_345x550.png?v=1615069113"
                            alt="Item1"></div>
                    <div class="item-name-1 font-weight-bolder text-center pb-2">SheCoded Sticker Pack</div>
                    <div class="item-price-1 text-center font-weight-bold">$12.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-4">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/classic-dad-hat-black-front-6043cefcafc19_345x550.jpg?v=1615056639"
                            alt="Item1"></div>
                    <div class="item-name-1 font-weight-bolder text-center pb-2">SheCoded Hat</div>
                    <div class="item-price-1 text-center font-weight-bold">$22.50</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-4">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/womens-tri-blend-tee-clay-triblend-front-60423cf4d4213_345x550.jpg?v=1614953722"
                            alt="Item1"></div>
                    <div class="item-name-1 font-weight-bolder text-center pb-2">SheCoded Ladies' short sleeve t-shirt
                    </div>
                    <div class="item-price-1 text-center font-weight-bold">$29.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-4">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/all-over-print-tote-black-15x15-mockup-604239d15b8a7_345x550.jpg?v=1614952917"
                            alt="Item1"></div>
                    <div class="item-name-1 font-weight-bolder text-center pb-2 pt-sm-3">SheCoded Tote bag</div>
                    <div class="item-price-1 text-center font-weight-bold">$24.50</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-4">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/unisex-premium-t-shirt-black-front-60423c438f0a9_345x550.jpg?v=1614953548"
                            alt="Item1"></div>
                    <div class="item-name-1 font-weight-bolder text-center pb-2 pt-sm-3">SheCoded Short-Sleeve Unisex
                        T-Shirt
                    </div>
                    <div class="item-price-1 text-center font-weight-bold">$29.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-4">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/white-glossy-mug-11oz-handle-on-right-6042f7eb0ecc5_345x550.jpg?v=1615001670"
                            alt="Item1"></div>
                    <div class="item-name-1 font-weight-bolder text-center pb-2 pt-sm-3">SheCoded Mug</div>
                    <div class="item-price-1 text-center font-weight-bold">$14.95</div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4 pt-2">
        <button type="button" class="hvr butn text-uppercase font-weight-bold">view all</button>
    </div>
    <div class="mt-5 text-center">
        <h5 class="f-c font-weight-bold text-uppercase">dev shop</h5>
    </div>
    <!--Segundo contenedor-->
    <div class="container items">
        <div class="row px-2 flex-wrap justify-content-sm-between">
            <div class="hvr col-6 px-4 mt-4 col-sm-2 ml-sm-1">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-d31b1d8f_195x.jpg?v=1574125890"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2 font-weight-sm-light">Embroidered DEV
                        Champion Bomber Jacket
                    </div>
                    <div class="item-price text-center font-weight-bold">$65.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/embroideredbackpack_195x.jpg?v=1575043548"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Embroidered DEV Backpack</div>
                    <div class="item-price text-center font-weight-bold">$50.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-4a9fa466_195x.jpg?v=1556299109"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">DEV Tee Unisex (Multiple Colors)</div>
                    <div class="item-price text-center font-weight-bold">$18.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-4358ab33_195x.jpg?v=1542642637"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">DEV Hat (Multiple Colors)</div>
                    <div class="item-price text-center font-weight-bold">$27.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-0a09f3d3_195x.jpg?v=1575312240"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">May The Source Be Open Sweatshirt</div>
                    <div class="item-price text-center font-weight-bold">$42.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2 ml-sm-1">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-98fdde85_195x.jpg?v=1549646468"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Black DEV Beanie</div>
                    <div class="item-price text-center font-weight-bold">$19.50</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-1b26edcb_195x.jpg?v=1542642615"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">JavaScript DEV Unisex</div>
                    <div class="item-price text-center font-weight-bold">$18.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-03ab7499_195x.jpg?v=1558460410"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Vintage DEV Hat</div>
                    <div class="item-price text-center font-weight-bold">$27.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/Sticker_Collage_2019_195x.png?v=1566402781"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Sticker Pack</div>
                    <div class="item-price text-center font-weight-bold">$12.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/dev-gift-card-edited_195x.png?v=1542650152"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Gift Card</div>
                    <div class="item-price text-center font-weight-bold">$10.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2 ml-sm-1">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-5a41f96d_195x.jpg?v=1550790358"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Pom Pom DEV Hat (Multiple Colors)</div>
                    <div class="item-price text-center font-weight-bold">$19.50</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-75fb21cb_195x.jpg?v=1542642626"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Space DEV Tee Unisex<br> (Multiple
                        Colors)</div>
                    <div class="item-price text-center font-weight-bold">$27.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-840223d7_195x.jpg?v=1542642639"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">DEV Crewneck Unisex<br> (Multiple Colors)
                    </div>
                    <div class="item-price text-center font-weight-bold">$42.00</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-fc07df67_195x.jpg?v=1548709322"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Space DEV Mug</div>
                    <div class="item-price text-center font-weight-bold">$14.95</div>
                </div>
            </div>
            <div class="hvr col-6 px-4 mt-4 col-sm-2">
                <div class="row flex-column">
                    <div><img class="w-100 mb-2"
                            src="https://cdn.shopify.com/s/files/1/1626/8507/products/mockup-b1425ef6_195x.jpg?v=15687523768"
                            alt="Item1"></div>
                    <div class="item-name font-weight-bolder text-center pb-2">Snapback Hat</div>
                    <div class="item-price text-center font-weight-bold">$27.00</div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4 pt-2">
        <button type="button" class="hvr butn text-uppercase font-weight-bold">view all</button>
    </div>
    <!--Footer-->
    <div class="container ftr mt-5">
        <div class="row mr-sm-5">
            <div class="hvr col-3 offset-2 col-sm-1 offset-sm-5">Search</div>
            <div class="hvr col-2 col-sm-1">FAQs</div>
            <div class="hvr col-3 col-sm-1">dev.to</div>
        </div>
        <div class="row my-5">
            <div class="hvr col-5 offset-1 col-sm-2 offset-sm-4"><small>© 2021, DEV Shop</small></div>
            <div class="hvr col-5 col-sm-2"><small>Powered by kodemia</small></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>