<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles_tda.css">
    <title>Tienda</title>
</head>

<body>
    <section class="header">
        <div class="notification"><span>Due to COVID-19 the DEV Shop is experiencing slight delays in shipping.</span>
        </div>
        <div class="logo-search">
            <div class="logo">
                <a href="../index.html"><img
                        src="https://cdn.shopify.com/s/files/1/1626/8507/files/Dev_400x400_50x.png?v=1541525157"
                        alt="Logo"></a>
            </div>
            <div class="search">
                <img src="../Images/../Images/images-tda/search.svg" alt="search">
                <img class="logo2"
                    src="https://cdn.shopify.com/s/files/1/1626/8507/files/Dev_400x400_50x.png?v=1541525157" alt="Logo">
                <img src="../Images/images-tda/shopping.svg" alt="shopping">
            </div>
        </div>
    </section>
    <section class="general-container">
        <div class="collection-top">
            <h2 class="title-col">SHE CODED</h2>
            <div class="grid-col">
                <div class="item">
                    <div class="item-pic1-1"></div>
                    <div class="item-name">Shecoded Hat</div>
                    <div class="item-price">$22.50</div>
                </div>
                <div class="item">
                    <div class="item-pic1-2"></div>
                    <div class="item-name">SheCoded Ladies' short sleeve t-shirt</div>
                    <div class="item-price">$29.00</div>
                </div>
                <div class="item">
                    <div class="item-pic1-3"></div>
                    <div class="item-name">SheCoded Tote bag</div>
                    <div class="item-price">$24.50</div>
                </div>
                <div class="item">
                    <div class="item-pic1-4"></div>
                    <div class="item-name">SheCoded Short-Sleeve Unisex T-Shirt</div>
                    <div class="item-price">$29.50</div>
                </div>
                <div class="item">
                    <div class="item-pic1-5"></div>
                    <div class="item-name">SheCoded Mug</div>
                    <div class="item-price">$14.95</div>
                </div>
                <div class="item">
                    <div class="item-pic1-6"></div>
                    <div class="item-name">She Coded Hoodie</div>
                    <div class="item-price">$58.50</div>
                </div>
            </div>
            <div class="center"><a class="btn">VIEW ALL</a></div>
        </div>
        <div class="collection-top">
            <h2 class="title-col">DEV SHOP</h2>
            <div class="grid-col2">
                <div class="item">
                    <div class="item-pic2-1"></div>
                    <div class="item-name">Embroidered DEV Champion Bomber Jacket</div>
                    <div class="item-price">$65.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-2"></div>
                    <div class="item-name">Embroidered DEV Backpack</div>
                    <div class="item-price">$50.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-3"></div>
                    <div class="item-name">DEV Tee Unisex <br> (Multiple Colors)</div>
                    <div class="item-price">$18.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-4"></div>
                    <div class="item-name">DEV Hat <br>(Multiple Colors)</div>
                    <div class="item-price">$27.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-5"></div>
                    <div class="item-name">May The Source Be Open Sweatshirt</div>
                    <div class="item-price">$42.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-6"></div>
                    <div class="item-name">Black DEV Beanie</div>
                    <div class="item-price">$19.50</div>
                </div>
                <div class="item">
                    <div class="item-pic2-7"></div>
                    <div class="item-name">JavaScript DEV Unisex</div>
                    <div class="item-price">$18.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-8"></div>
                    <div class="item-name">Vintage DEV Hat</div>
                    <div class="item-price">$27.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-9"></div>
                    <div class="item-name">Sticker Pack</div>
                    <div class="item-price">$12.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-10"></div>
                    <div class="item-name">Gift Card</div>
                    <div class="item-price">$10.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-11"></div>
                    <div class="item-name">Pom Pom DEV Hat <br> (Multiple Colors)</div>
                    <div class="item-price">$19.50</div>
                </div>
                <div class="item">
                    <div class="item-pic2-12"></div>
                    <div class="item-name">Space DEV Tee Unisex <br> (Multiple Colors)</div>
                    <div class="item-price">$27.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-13"></div>
                    <div class="item-name">DEV Crewneck Unisex <br> (Multiple Colors)</div>
                    <div class="item-price">$42.00</div>
                </div>
                <div class="item">
                    <div class="item-pic2-14"></div>
                    <div class="item-name">Space DEV Mug</div>
                    <div class="item-price">$14.95</div>
                </div>
                <div class="item">
                    <div class="item-pic2-15"></div>
                    <div class="item-name">Snapback Hat</div>
                    <div class="item-price">$27.00</div>
                </div>
            </div>
            <div class="center"><a class="btn">VIEW ALL</a></div>
        </div>
        <footer>
            <div class="foot-1">
                <div>Search</div>
                <div>FAQs</div>
                <div>dev.to</div>
            </div>
            <div class="footer-2">
                <span>© 2021, DEV Shop</span>
                <span>Powered by kodemia</span>
            </div>
        </footer>
    </section>

</body>

</html>