@import url("//fonts.googleapis.com/css?family=Work+Sans:400,700");
@import url("//fonts.googleapis.com/css?family=Droid+Sans:700");
@import url("//fonts.googleapis.com/css?family=Work+Sans:400,700");
@import url("//fonts.googleapis.com/css?family=Droid+Sans:700");
.icon-footer {
  font-size: 24px;
  color: #64707d;
}

.icon-footer:hover {
  color: #4d5760;
}

.separator {
  border-top: 0.5px solid #b5bdc4;
  margin-top: 7px;
}

.img-footer-move {
  width: 51px;
  height: 120px;
  top: -1px;
  right: 45px;
}

.img-footer-move:hover {
  -webkit-transform: rotate(-0.02turn);
          transform: rotate(-0.02turn);
}

/*Utilities*/
.bg-footer-primary {
  background-color: #d2d6db;
}

.text-footer-size-icon {
  font-size: 24px;
}

.text-footer-size-p {
  font-size: 14px;
}

.text-footer-color-icon {
  color: #64707d;
}

.text-footer-color-link {
  color: #202428;
}

.text-footer-color-p {
  color: #4d5760;
}

/*Queries*/
@media only screen and (min-width: 1025px) {
  .row-lg-wrapper {
    width: 60%;
    margin: 0 auto;
  }
}

#fontss {
  font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
  line-height: 1.2;
  background-color: white;
}

.hvr:hover {
  cursor: pointer;
  opacity: .85;
}

.notif {
  background-color: #25B7F8;
  font-size: 1rem;
}

.img1 {
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.img2 {
  height: 20px;
  width: 20px;
}

.bor {
  border-bottom: 2px solid gray;
}

.f-c {
  color: #060964;
  letter-spacing: .1rem;
}

.item-name,
.item-name-1 {
  font-size: 0.95rem;
  color: #060964;
}

.item-price,
.item-price-1 {
  font-size: .85rem;
}

.butn {
  border: 3px solid transparent;
  border-radius: 2px;
  border-color: black;
  padding: 8px 15px;
  background-color: white;
  color: black;
  letter-spacing: 0.08em;
  font-size: .85rem;
}

.ftr {
  color: #060964;
}

@media only screen and (min-width: 576px) {
  .item-name {
    font-size: 0.75rem;
  }
}

#homenvb {
  background-color: white;
}

.bor {
  border-bottom: 2px solid lightgray;
}

.left-wrpr {
  width: 60%;
}

.left-wrpr input {
  width: 430px;
  border: 1px solid #b5bdc4;
  background-color: rgba(225, 237, 252, 0.2);
}

.left-wrpr input:focus {
  background-color: white;
  border-color: blue;
  -webkit-box-shadow: 1px 1px blue;
          box-shadow: 1px 1px blue;
  outline: none;
}

.left-wrpr .h35i {
  width: 25px;
}

.left-wrpr .h70i {
  width: 50px;
}

.left-wrpr .h70i:hover {
  cursor: pointer;
}

.right-wrpr {
  width: 40%;
}

.right-wrpr img {
  width: 1.5rem;
}

.right-wrpr img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 2px 8px #f0f0f0;
          box-shadow: 0px 0px 2px 8px #f0f0f0;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.right-wrpr button > img {
  width: 38px;
}

.right-wrpr button > img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 2px 5px #f0f0f0;
          box-shadow: 0px 0px 2px 5px #f0f0f0;
  background-color: #f0f0f0;
}

.right-wrpr .bttn {
  background-color: #3b49df;
  height: 40px;
  width: 120px;
  font-weight: 500;
}

.right-wrpr .bttn:hover {
  cursor: pointer;
  background-color: #323ebe;
}

/*

*/
.h-90 {
  height: 90%;
}

.collapse-1 {
  background-color: white;
  border: 1px solid black;
  position: fixed;
  z-index: 9999;
  top: 5%;
  left: -100%;
  width: 70%;
  -webkit-transition: left 0.35s ease-in-out;
  transition: left 0.35s ease-in-out;
}

.collapse-1.show {
  left: 1.5%;
}

.collapse-2 {
  background-color: white;
  position: fixed;
  z-index: 9999;
  top: 7%;
  right: -100%;
  width: 70%;
  -webkit-transition: right 0.35s ease-in-out;
  transition: right 0.35s ease-in-out;
}

.collapse-2.show {
  right: 1.5%;
}

.collapsing {
  position: unset !important;
  height: unset !important;
  overflow: unset !important;
  top: unset !important;
  -webkit-transition: unset !important;
  transition: unset !important;
}

@media only screen and (min-width: 767px) {
  .collapse-2 {
    width: 30%;
  }
}

.fixed-pos {
  background-color: #eef0f1;
  bottom: 0;
  border-top: 1px solid #eef0f1;
  left: 0;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.p-badge {
  padding-top: 5px;
  padding-bottom: 5px;
}

.aws {
  background-color: #212b3a;
  color: #faaf34 !important;
}

.docker {
  background-color: #73c7e6;
  color: #134871 !important;
}

.tutorial {
  background-color: #feffa5;
  color: #b30047 !important;
}

.vue {
  background-color: #41b883;
  color: #35495e !important;
}

.btn-outline-suscribe {
  border: 1px solid #b5bdc4;
  background-color: none;
  color: #363d44;
  padding: 6px 16px;
}

.btn-outline-suscribe:hover {
  cursor: pointer;
}

.btn-follow {
  background-color: #3b49df;
  color: white;
  padding: 8px 16px;
}

.btn-follow:hover {
  color: white;
  background-color: #323ebe;
}

.img-profile {
  height: 32px;
  width: 32px;
}

.img-profile-2 {
  height: 48px;
  width: 48px;
}

.author-absolute {
  padding: 0px 16px;
  position: absolute;
  top: 15px;
  left: 0;
}

.hover-conduct:hover {
  color: #363d44 !important;
}

span {
  color: #64707d;
  font-size: 14px;
}

span:hover {
  cursor: pointer;
}

h1 {
  color: #08090a;
  font-size: 30px;
}

h2 {
  color: #08090a;
  font-size: 20px;
}

h4 {
  color: #08090a;
  font-size: 18px;
}

p {
  font-size: 18px;
  color: #08090a;
  margin-bottom: 16px;
}

ul {
  padding: 0 20px;
}

ul li {
  font-size: 18px;
}

a {
  color: #3b49df;
  overflow-wrap: break-word;
  -webkit-transition: 1ms;
  transition: 1ms;
}

a:hover {
  color: #323ebe;
  cursor: pointer;
  text-decoration: none;
}

textarea {
  border: 1px solid #b5bdc4;
  padding: 5px;
}

/*Utilities*/
.text-color-title {
  color: #08090a;
}

.text-color-btn {
  color: #363d44;
}

.text-color-icon {
  color: #64707d;
}

.text-color-card-black {
  color: #4d5760;
}

.text-size-title {
  font-size: 30px;
}

.text-size-icon {
  font-size: 14px;
}

.text-size-paragraph {
  font-size: 16px;
}

.text-size-span {
  font-size: 12px;
}

.w-10 {
  width: 10%;
}

.w-87 {
  width: 87%;
}

.pt-6 {
  padding-top: 2rem;
}

.bg-container {
  background-color: #eef0f1;
}

.bg-card {
  background-color: #f9fafa;
}

.bg-card #img-header {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-post-header {
  background-color: black;
}

.border-bottom-post {
  border-bottom: 1px solid #eef0f1;
}

/*Queries*/
@media only screen and (min-width: 768px) {
  .fixed-pos {
    left: 10px;
  }
  .fixed-pos {
    background-color: transparent;
    border-top: none;
    top: 52px;
    width: 20%;
    z-index: 0;
  }
  footer {
    z-index: 1;
  }
  h1 {
    color: #08090a;
    font-size: 36px;
  }
  .w-87 {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .fixed-pos {
    left: 70px;
  }
  .icon-nav {
    height: 24px;
    width: 24px;
  }
  h1 {
    color: #08090a;
    font-size: 48px;
  }
  .icon-nav {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    -webkit-transition: 2ms;
    transition: 2ms;
  }
  .icon-nav:hover {
    cursor: pointer;
    background-color: #ad9d9d;
    opacity: 0.3;
  }
  .heart:hover {
    background-color: #e26b6c;
  }
  .pony:hover {
    background-color: #26d9ca;
  }
  .bookmark:hover {
    background-color: #8e96e7;
  }
}

@media only screen and (min-width: 1600px) {
  .fixed-pos {
    left: 250px;
  }
}

@media only screen and (min-width: 1700px) {
  .fixed-pos {
    left: 190px;
  }
}

body {
  background-color: #eef0f1;
}

a {
  color: black !important;
  opacity: 80%;
}

.link-home:hover {
  cursor: pointer;
}

.formPost input[name="coverUrl"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border: solid 3px rgba(0, 0, 0, 0.2);
  padding: .5rem;
}

.formPost input[name="coverUrl"]:focus {
  background-color: #eef0f1;
  border: solid 3px rgba(0, 0, 0, 0.4);
}

.formPost input[name="coverUrl"]::-webkit-input-placeholder {
  color: #64707d;
}

.formPost input[name="coverUrl"]:-ms-input-placeholder {
  color: #64707d;
}

.formPost input[name="coverUrl"]::-ms-input-placeholder {
  color: #64707d;
}

.formPost input[name="coverUrl"]::placeholder {
  color: #64707d;
}

.formPost input[name="coverUrl"]:focus::-webkit-input-placeholder {
  color: black;
}

.formPost input[name="coverUrl"]:focus:-ms-input-placeholder {
  color: black;
}

.formPost input[name="coverUrl"]:focus::-ms-input-placeholder {
  color: black;
}

.formPost input[name="coverUrl"]:focus::placeholder {
  color: black;
}

.formPost input[name="postTitle"] {
  border: none;
}

:focus {
  outline: none;
}

.formPost input[name="postTitle"]::-webkit-input-placeholder {
  color: #64707d;
}

.formPost input[name="postTitle"]:-ms-input-placeholder {
  color: #64707d;
}

.formPost input[name="postTitle"]::-ms-input-placeholder {
  color: #64707d;
}

.formPost input[name="postTitle"]::placeholder {
  color: #64707d;
}

.formPost input[name="postTags"] {
  border: none;
  font-weight: 450;
  font-family: 'Roboto Mono', monospace;
}

:focus {
  outline: none;
}

.formPost input[name="imagesUrl"] {
  background-image: url(/Images/post/Timgsvg.svg);
  background-repeat: no-repeat;
  border: none;
  font-weight: 400;
  background-color: #f9fafa;
}

:focus {
  outline: none;
}

.formPost input[name="imagesUrl"]::-webkit-input-placeholder {
  color: #54514b;
}

.formPost input[name="imagesUrl"]:-ms-input-placeholder {
  color: #54514b;
}

.formPost input[name="imagesUrl"]::-ms-input-placeholder {
  color: #54514b;
}

.formPost input[name="imagesUrl"]::placeholder {
  color: #54514b;
}

.formPost input[name="content"] {
  border: none;
  font-weight: 450;
  font-family: 'Roboto Mono', monospace;
}

:focus {
  outline: none;
}

#settingsBtn {
  background-image: url(/Images/post/Tassetsvg.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  border: none;
}

.cardPostInput {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 3rem 0;
}

.postBody {
  width: 100%;
}

#imgDivTitle {
  width: 100%;
  height: 326px;
  margin-bottom: 4rem;
  border: 0;
}

#imgTitle {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  outline: none;
}

#previewTitle {
  width: auto;
  word-wrap: break-word;
  font-size: 3.5rem;
  font-weight: 900;
  margin: 2rem 5rem;
}

#hashtPost {
  margin-left: 5rem;
  margin-bottom: 3rem;
}

#hashtPost li {
  list-style: none;
  margin-right: 2rem;
  opacity: 70%;
}

#imgDiv {
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 4rem;
  overflow: hidden;
}

#imgContentPreview {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#contentPreview {
  width: 80%;
  height: auto;
  margin: 3rem auto;
  word-wrap: break-word;
}

@media screen and (max-width: 376px) {
  .navbarPost {
    width: 100%;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbarPost ul {
    padding: 0;
  }
  .navbarPost li {
    font-size: 1rem;
    margin: 0 8px;
  }
  .containerPostWrite {
    width: 90vw;
  }
  .cardPostInput {
    height: 79vh;
  }
  .formPost input[name="coverUrl"] {
    margin: 0 2px 10px 2px;
    font-size: 1rem;
    width: 170px;
    margin: .8rem .5rem;
  }
  .formPost input[name="coverUrl"]::-webkit-input-placeholder {
    color: black;
    opacity: 85%;
  }
  .formPost input[name="coverUrl"]:-ms-input-placeholder {
    color: black;
    opacity: 85%;
  }
  .formPost input[name="coverUrl"]::-ms-input-placeholder {
    color: black;
    opacity: 85%;
  }
  .formPost input[name="coverUrl"]::placeholder {
    color: black;
    opacity: 85%;
  }
  .formPost input[name="postTitle"] {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 .5rem;
  }
  .formPost input[name="postTags"] {
    font-size: .9rem;
    margin: 1rem .5rem;
  }
  .formPost input[name="imagesUrl"] {
    padding: .7rem .5rem;
    margin: .5rem 0rem;
    font-size: 1rem;
    background-size: 25px;
    background-position-x: .5rem;
    background-position-y: center;
  }
  .formPost input[name="content"] {
    margin: .5rem .5rem;
    font-size: 1rem;
  }
  .footerPost {
    width: 99vw;
    padding: .5rem 0;
  }
}

@media screen and (max-width: 768px) {
  .navbarPost {
    width: 100%;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbarPost ul {
    padding: 0;
  }
  .navbarPost li {
    font-size: 1rem;
    margin: 0 8px;
  }
  .containerPostWrite {
    width: 90vw;
  }
  .cardPostInput {
    height: 80vh;
  }
  .formPost input[name="coverUrl"] {
    margin: 0 2px 10px 2px;
    font-size: 1rem;
    width: 170px;
    margin: .8rem .5rem;
  }
  .formPost input[name="coverUrl"]::-webkit-input-placeholder {
    color: black;
    opacity: 85%;
  }
  .formPost input[name="coverUrl"]:-ms-input-placeholder {
    color: black;
    opacity: 85%;
  }
  .formPost input[name="coverUrl"]::-ms-input-placeholder {
    color: black;
    opacity: 85%;
  }
  .formPost input[name="coverUrl"]::placeholder {
    color: black;
    opacity: 85%;
  }
  .formPost input[name="postTitle"] {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 .5rem;
  }
  .formPost input[name="postTags"] {
    font-size: .9rem;
    margin: 1rem .5rem;
  }
  .formPost input[name="imagesUrl"] {
    padding: .7rem .5rem;
    margin: .5rem 0rem;
    font-size: 1rem;
    background-size: 25px;
    background-position-x: .5rem;
    background-position-y: center;
  }
  .formPost input[name="content"] {
    margin: .5rem .5rem;
    font-size: 1rem;
  }
  .footerPost {
    width: 99vw;
    padding: .5rem 0;
  }
  .footerPost a {
    color: black;
    font-size: .9rem;
    opacity: 85%;
  }
}

@media screen and (min-width: 769px), screen and (max-width: 992px) {
  .formPost input[name="coverUrl"] {
    margin: 2rem 4rem;
  }
  .formPost input[name="postTitle"] {
    font-size: 3rem;
    overflow: scroll;
    font-weight: 800;
    margin: 2rem 4rem;
  }
  .formPost input[name="postTags"] {
    font-size: 1.3rem;
    margin: 2rem 4rem;
  }
  .formPost input[name="imagesUrl"] {
    background-size: 35px;
    background-position-x: 4rem;
    background-position-y: 1rem;
    font-size: 1.3rem;
    padding: 1rem 4rem;
  }
  .formPost input[name="content"] {
    font-size: 1.3rem;
    margin: 2rem 4rem;
  }
  .cardPostInput {
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.2);
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 2rem 0 !important;
  }
  .navbarPost {
    width: 100%;
    padding: .8rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbarPost #logoDev {
    margin: 0 14rem 0 5.25rem;
  }
  .navbarPost a {
    margin-right: 1rem;
  }
  .navbarPost ul {
    padding: 0;
  }
  .navbarPost li {
    font-size: 1rem;
    margin: 0 8px;
  }
}

.asideContent {
  margin-top: 5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#homee {
  background-color: #eef0f1;
}

.select-box {
  width: 5.7rem;
}

.select-box .select {
  width: 100%;
  height: 45px;
  padding: 0.5rem;
  padding-right: 20px;
  font-size: 16px;
  border: 1px solid #b5bdc4;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.select-box .select:hover {
  border-style: solid;
  border-color: #6b3ebe;
  border-width: 1.9px 2.9px 2.9px 1.9px;
}

.select-box::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 30px;
  margin-top: -6px;
  border-top: 6px solid #000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.bg-lgrey {
  background-color: #eef0f1;
}

.bg-grey {
  background-color: #d7d8da;
}

.bg-blue {
  background-color: #323ebe;
}

.bg-secundary {
  background-color: #f9fafa;
}

.btn-grey {
  color: #363d44 !important;
  background-color: #d2d6db !important;
}

.btn-grey:hover {
  background-color: #b5bdc4 !important;
  color: #08090a !important;
}

.btn-blue {
  color: #f9fafa !important;
  background-color: #3b49df !important;
  border-color: #323ebe;
}

.btn-blue:hover {
  background-color: #323ebe !important;
  color: #f9fafa !important;
}

header h3 {
  font-size: 22px;
}

header .nav .nav-item {
  padding: 4px 0;
  position: relative;
}

header .nav .nav-item:hover {
  background-color: rgba(50, 62, 189, 0.212);
}

header .nav .nav-item .nav-link {
  color: #08090a;
}

header .nav .nav-item .active {
  color: #000;
  font-weight: 600;
}

header .nav .nav-item .active::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 0rem;
  width: 50%;
  height: 0.2rem;
  background-color: #323ebe;
  margin-left: 14px;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .nav .nav-item .active:hover::after {
  margin-left: 0;
  width: 100%;
}

.post {
  overflow: hidden;
}

.post .link:hover {
  cursor: pointer;
}

.post a:hover {
  text-decoration: none;
}

.post h1 {
  color: #000;
  font-size: 1.4rem;
}

.post h1:hover {
  color: #323ebe;
}

.post .profile-p {
  border-radius: 1rem;
  height: 37px;
}

.post .author-info {
  height: 3rem;
}

.post .author-info p {
  margin-bottom: 0;
  color: #64707d;
  font-size: 0.7rem;
}

.post .author-info p:hover {
  cursor: pointer;
  color: #000;
}

.post .author-info p:first-child {
  font-size: 1rem;
  color: #4d5760;
}

.post .author-info p:first-child:hover {
  color: #000;
}

.post .h-post {
  list-style: none;
}

.post .h-post li {
  margin: 0 1rem;
}

.post .h-post li a {
  color: #4d5760;
}

.post .h-post li a:hover {
  color: #000;
}

.post .post-interactions {
  padding: 0 0.7rem;
  margin-bottom: 1rem;
}

.post .post-interactions p {
  font-size: 12px;
  color: #64707d;
}

.post .post-interactions .interactions {
  width: 10rem;
  height: 1.5rem;
}

.post .post-interactions .interactions div {
  border-radius: 5px;
}

.post .post-interactions .interactions div:first-child {
  margin-right: 20px;
}

.post .post-interactions .interactions div:hover {
  cursor: pointer;
  background-color: #d2d6db;
  opacity: 1;
}

.left-aside a:hover {
  text-decoration: none;
}

.left-aside ul {
  list-style: none;
}

.left-aside ul li {
  width: 90%;
  padding: 0.4rem;
  padding-left: 0;
  border-radius: 5px;
  cursor: pointer;
}

.left-aside ul li:hover {
  background-color: rgba(8, 9, 10, 0.05);
}

.left-aside ul li img {
  margin-right: 0.5rem;
}

.left-aside ul li a {
  color: #202428;
  font-size: 1rem;
}

.left-aside ul li a:hover {
  text-decoration: none;
}

.left-aside ul li a:nth-child(7) {
  color: rosybrown;
}

.left-aside .dashboard-aside img {
  padding: 1px;
  border-radius: 5px;
}

.left-aside .dashboard-aside img:hover {
  cursor: pointer;
  background-color: rgba(8, 9, 10, 0.05);
}

.left-aside a .store {
  margin-top: 10rem;
}

.right-aside .aside-card {
  overflow: hidden;
}

.right-aside .aside-card #aside-image {
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-aside .aside-card .text-link {
  cursor: pointer !important;
}

.right-aside .aside-card .text-link:hover {
  background-color: #eef0f1;
  color: #323ebe;
}

.right-aside .aside-card a {
  color: #000;
}

.right-aside .aside-card a:hover {
  color: #323ebe;
  text-decoration: none;
}

.right-aside .aside-card a div {
  padding-left: 10px;
}

.right-aside .aside-card a div:hover {
  background-color: #fff;
}

.right-aside .aside-card header a h3 {
  margin-left: 10px;
}

.right-aside .aside-card .text-blue {
  color: #323ebe;
}

@media (min-width: 768px) {
  .post .cover-img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .post .post-interactions .interactions {
    width: 20rem;
  }
}
/*# sourceMappingURL=styles.css.map */